{{define "title"}}
Tambah Task
{{end}}

{{define "css"}}
{{end}}

{{define "script"}}

{{end}}

{{define "main"}}
<form action="/edit/{{.ID}}" method="post">
	<h1 class="display-6">Create Task</h1>
	<div class="row mb-2">
		<div class="col-2" style="text-align: end;">Task Detail</div>
		<div class="col-6">
			<textarea name="content" placeholder="Masukan Task" class="form-control">{{.Note.Content}}</textarea>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-2" style="text-align: end;">Task Detail</div>
		<div class="col-6">
			<input type="text" class="form-control" name="assignee" placeholder="Masukan Penerima" value="{{.Note.Assignee}}">
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-2" style="text-align: end;">Deadline</div>
		<div class="col-6">
			<input type="date" class="form-control" name="deadline" value="{{.Note.Date}}">
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-6 offset-2">
			<button class="btn btn-outline-primary" type="submit">Submit</button>
		</div>
	</div>
</form>
{{end}}