{{define "title"}}
Dashboard
{{end}}

{{define "css"}}
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
{{end}}

{{define "script"}}
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	$(document).ready( function () {
	    $('.table').DataTable();
	} );
</script>
{{end}}

{{define "main"}}
	<h1 class="display-6 mt-5">Created Task</h1>
	<a class="btn btn-primary mb-3" href="/create"><i class="fa-solid fa-plus"></i> Create</a>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Task</th>
				<th>Assigner</th>
				<th>Deadline</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{{range $note := .Notes}}
			<tr>
				<td>{{$note.Content}}</td>
				<td>{{$note.Assignee}}</td>
				<td>{{$note.Date}}</td>
				<td>
					{{if $note.IsDone}}
					<button type="button" class="btn btn-success">Done</button>
					{{else}}
					<a href="#" class="btn btn-warning">Ubah</a>
					<a href="#" class="btn btn-info">Selesai</a>
					{{end}}
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
{{end}}